
.dashboard-page {
/* float: right; */

/* max-height: 100vh; */
/* min-height: 100vh; */
/* height: 100%; */
width: 100%;
max-width: 100%;

/* overflow-y: visible; */

/* overflow-x: hidden; */

/* column-count: 2 */
columns: 500px;

/* -webkit-column-fill: balance; */
/* -moz-column-fill: balance;  */
column-fill: balance;

/* display: grid; */
/* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
/* grid-template-rows: auto auto auto; */

/* grid-template-columns: 1fr 1fr; */

}

/* @media only screen and (max-width: 500px) {
    .dashboard-page {
        column-count: 1;
    }
} */

.box {
    break-inside: avoid;

    border: 1px solid #CCC;
    background: #FFF;
    margin: 8px;

    border-radius: 5pt;

    overflow: hidden;

    height: auto;
    /* margin-bottom: 40px; */
}

.box_header {

    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;

    padding: 5px 10px;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #CCC;

    /* margin: 10px; */
    background: #EEE;

    /* margin-bottom: 10px; */
}

.box_title {
    color: black;
    font-size: 12pt;
    font-style: bold;
}

.dashboard-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    width: 100%;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.dashboard-table thead tr {
    background-color: rgb(174, 48, 51);
    color: #ffffff;
    text-align: center;
}

.dashboard-table th,
.dashboard-table td {
    padding: 2px 5px;
    min-height: 30px;
}

.dashboard-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.dashboard-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.armed-checkbox {
    margin: auto;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.button_halfsize {
    width: 50%;
    float: left;
}

.button.red{
    background-color: #c54545;
}

.button:active { 
    background-color: #4c53af;
}

.button:disabled { 
    background-color: #777777;
}