
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: grey;
  font-family: Arial, sans-serif;
}

.topbar {
  background-color: rgb(174, 48, 51);
  display: flex;
  flex-direction: row;
  width: 100%;

  /* height: 60px; */
  height: 3em;

  align-items: center;
}

.topbar_elm {
  float: top;


  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;

  text-decoration: none;
  /* font-size: 17px; */
  font-size: 1em;

  /* height: 2em; */

  align-items: center;
  justify-content: space-between;
}

#hamburger-button {
  display: none;
}


.ssi-logo {
  /* height:30px; */
  height: 2em;

  padding:5px;
  padding-top: 10px;
}

.page-content {

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  height: 100%;
  /* overflow: auto; */

  /* overflow-y: hidden;
  overflow-x: scroll; */
}


.main-content {
  flex-basis: 0;
  flex-grow: 999;

  min-height: 100%;
  width: 100%;
  height: 100%;
  /* overflow: auto; */

  /* overflow-y: hidden;
  overflow-x: scroll; */
}

.sidenav {
  flex-basis: auto;
  flex-grow: 1;
  height: 100%;

  width: auto; 

  background-color: #111; /* Black */
  display: flex;
  flex-direction: column;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;

  /* flex: 1 0 auto; */
}

.sidenav a:first-of-type {
    padding-top: 12px;
  }

.sidenav a:hover {
  color: #f1f1f1;
}

.page-title {
  text-align: center;
}

@media(max-width: 768px) {

  #sidenav-bar {
      display: none;
  }

  .main-content {
    /* trigger wrapping always */
    min-inline-size: 100%;

  }

  #hamburger-button {
    display: inline;
  }

}
