
  <link rel="stylesheet" href="static/configure.css">

<h2 class="page-title"> Configuration </h2>
<div class="configure-page">


    <div class="config-line">
      <div id="observer-option">
        <span> Observer </span>
        <input type="text" id="pass-text">
        <button type="button" id="auth-button" onclick="send_command_button()">Authenticate</button>
      </div>

      <div id="commander-option">
        <span> Commander </span>
        <button type="button" id="deauth-button" onclick="send_command_button()">Deauthenticate</button>
      </div>
    </div>


    <script>
      document.getElementById('auth-button').onclick = () => {
        pass = document.getElementById("pass-text").value
        socket.emit("try-auth", pass);
      }

      socket.on("auth", (data) => {
          Cookies.set('auth', data)
          document.getElementById("topbar-role").innerHTML = "Role: Commander";

          document.getElementById('observer-option').hidden = true;
          document.getElementById('commander-option').hidden = false;
      });

      document.getElementById('deauth-button').onclick = () => {
          socket.emit("de-auth", Cookies.get('auth'));
          Cookies.remove('auth')

          document.getElementById("topbar-role").innerHTML = "Role: Observer";

          document.getElementById('observer-option').hidden = false;
          document.getElementById('commander-option').hidden = true;
      }



      if(Cookies.get('auth')){
          document.getElementById('observer-option').hidden = true;
          document.getElementById('commander-option').hidden = false;
        }else{
          document.getElementById('observer-option').hidden = false;
          document.getElementById('commander-option').hidden = true;
        }

    </script>

    <!-- <div class="config-line">
      <input type="text" id="log-filename-text">
      <button type="button" id="new-log-button" onclick="new_log()">New log</button>
    </div> -->

    <!-- <button type="button" onclick="send_command({'slate.health.ematch_reset: 1'})" >Reset E-match status</button> -->
    <button type="button" onclick="reboot_quail()">Reboot Quail</button>

    <div class="config-line">
      <input type="text" style="width: 30em;" id="command-text">
      <button type="button" id="button-command" onclick="send_command_button()">Send Command</button>
    </div>
  
    <script>
      function new_log()  {
        textbox = document.getElementById("log-filename-text")
        socket.emit("new_log", textbox.value);
      };

      function send_command_button()  {
        textbox = document.getElementById("command-text")
        try {
            var json_cmd = JSON.parse(textbox.value);
        } catch (e) {
          alert("Invalid JSON command");
          return;
        }

        send_command(json_cmd)
      };

      function reboot_quail() {
        let confirmAction = confirm("Reboot Quail?");

        if (confirmAction) {
          send_command(null, target='reboot');
        }
      }


    </script>
  
  </div>