
  <link rel="stylesheet" href="static/configure.css">

<h2 class="page-title"> Configuration </h2>
<div class="configure-page">


    <div class="config-line">
      <div id="observer-option">
        <span> Observer </span>
        <input type="text" id="pass-text">
        <button type="button" id="auth-button" onclick="send_command_button()">Authenticate</button>
      </div>

      <div id="commander-option">
        <span> Commander </span>
        <button type="button" id="deauth-button" onclick="send_command_button()">Deauthenticate</button>
      </div>
    </div>


    <script>
      document.getElementById('auth-button').onclick = () => {
        pass = document.getElementById("pass-text").value
        socket.emit("try-auth", pass);
      }

      socket.on("auth", (data) => {
          Cookies.set('auth', data)
          document.getElementById("topbar-role").innerHTML = "Role: Commander";

          document.getElementById('observer-option').hidden = true;
          document.getElementById('commander-option').hidden = false;
      });

      document.getElementById('deauth-button').onclick = () => {
          socket.emit("de-auth", Cookies.get('auth'));
          Cookies.remove('auth')

          document.getElementById("topbar-role").innerHTML = "Role: Observer";

          document.getElementById('observer-option').hidden = false;
          document.getElementById('commander-option').hidden = true;
      }



      if(Cookies.get('auth')){
          document.getElementById('observer-option').hidden = true;
          document.getElementById('commander-option').hidden = false;
        }else{
          document.getElementById('observer-option').hidden = false;
          document.getElementById('commander-option').hidden = true;
        }

    </script>


    <div class="config-line">
      <button type="button">Tare Load Cell 1</button>
      <button type="button">Tare Load Cell 2</button>
    </div>

    <div class="config-line">
      <button type="button" onlick="send_command({'slate.health.ematch_reset: 1'})" >Reset E-match status</button>
      <button type="button" onlick="send_command({'slate.health.reboot: 1'})">Reboot Quail</button>
    </div>

    <div class="config-line">
      <input type="text" id="command-text">
      <button type="button" id="button-command" onclick="send_command_button()">Send Command</button>
    </div>
  
    <script>
      function send_command_button()  {
        var textbox = document.getElementById("command-text")

        try {
            var json_cmd = JSON.parse(textbox.value);
        } catch (e) {
          alert("Invalid JSON command");
          return;
        }

        send_command(json_cmd)

      };
    </script>
  
  </div>