
  <link rel="stylesheet" href="static/configure.css">


<script>

  function send_command()  {
    console.log("magci")
    var textbox = document.getElementById("command-text")

    try {
        var json_cmd = JSON.parse(textbox.value);
    } catch (e) {
      alert("Invalid JSON command");
      return;
    }

    if(Cookies.get('commander') ){
      socket.emit("command", json_cmd);
    }else{
      alert("Observers can't send commands");
    }

  };

  // not real security 
  function set_commander(commander) {
    Cookies.set('commander', commander ? "1" : "")
    document.getElementById("topbar-role").innerHTML = commander ? "Role: Commander" : "Role: Observer";
  }


</script>

<h2 class="page-title"> Configuration </h2>
<div class="configure-page">

      <div class="config-line radioswitch">
        <input type="radio" name="role" id="role-commander" onclick="set_commander(true)"> <label for="role-commander">Commander</label>
        <input type="radio" name="role" id="role-observer" onclick="set_commander(false)"> <label for="role-observer">Observer</label>
      </div>

    <div class="config-line">
      <button type="button">Tare Load Cell 1</button>
      <button type="button">Tare Load Cell 2</button>
    </div>

    <div class="config-line">
      <button type="button">Reset E-match status</button>
      <button type="button">Reboot Quail</button>
    </div>

    <div class="config-line">
      <input type="text" id="command-text">
      <button type="button" id="button-command" onclick="send_command()">Send Command</button>
    </div>
  
    <script>

      var radio = Cookies.get('commander') ? document.getElementById('role-commander') : document.getElementById('role-observer')
      radio.checked = true;

    </script>
  
  </div>