
<link rel="stylesheet" href="static/dashboard.css">

<script language="javascript" type="text/javascript" src="static/jquery.js"></script>

<h2 class="page-title"> Dashboard </h2>

<div class="dashboard-page">

  <div class="box">
    <div class="box_header">
      <div class="box_title"> Quail Health </div>
    </div>


    <script>

      //  function dict_recurse(dict) {
         
      //  }

        new_data_callbacks.push( () => {
          console.log("value")

          //can't have dots in class names! :/
          matches = document.querySelectorAll(".slate.health.v.value");
          console.log(matches)
          matches.forEach(function(item) {
            item.innerHTML = get_data("slate.health.v.value")
          });

        })
    </script>

    <table class="dashboard-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Desc</th>
          <th>Value</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <p class="slate.health.v.id" > </p></td>
          <td> <p class="slate.health.v.desc" > </p> </td>
          <td> <p class="slate.health.v.value" > </p> </td>
          <td> <p class="slate.health.v.unit" > </p> </td>
        </tr>
        <tr>
          <td>I1</td>
          <td>Total Current</td>
          <td>10</td>
          <td>A</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    <div class="box_header">
      <div class="box_title"> Sensors </div>
    </div>

    <table class="dashboard-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Desc</th>
          <th>Value</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PT1</td>
          <td>Tank Pressure</td>
          <td>1200</td>
          <td>Psi</td>
        </tr>
        <tr>
          <td>PT1</td>
          <td>Tank Pressure</td>
          <td>1200</td>
          <td>Psi</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    <div class="box_header">
      <div class="box_title"> Squibs </div>
    </div>

    <table class="dashboard-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Desc</th>
          <th> Armed? </th>
          <th> Status </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>EM1</td>
          <td>Engire Ignition</td>
          <td> <input type="checkbox" class="armed-checkbox"> </td>
          <td> <button type="button" class="button"> disarmed </button> </td>

        </tr>
        <tr>
          <td>EM2</td>
          <td> Fireworks </td>
          <td> <input type="checkbox" class="armed-checkbox"> </td>
          <td> <button type="button" class="button"> Ready </button> </td>
        </tr>
        <tr>
          <td>EM3</td>
          <td> Fireworks </td>
          <td> <input type="checkbox" class="armed-checkbox"> </td>
          <td> <button type="button" class="button"> fired </button> </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>