<div class="dashboad-page">

  <h2 class="page-title"> Dashboard </h2>

  <div class="dashboard-cont">

    <div class="box">
      <div class="box_header">
        <div class="box_title"> Quail Health </div>
      </div>

      <table class="dashboard-table">
        <tr>
          <th>ID</th>
          <th>Desc</th>
          <th>Value</th>
          <th>Units</th>
        </tr>
        <tr>
          <td>V1</td>
          <td>Bus Voltage</td>
          <td>12</td>
          <td>V</td>
        </tr>
        <tr>
          <td>I1</td>
          <td>Total Current</td>
          <td>10</td>
          <td>A</td>
        </tr>
      </table>
    </div>

    <div class="box">
      <div class="box_header">
        <div class="box_title"> Sensors </div>
      </div>

      <table class="dashboard-table">
        <tr>
          <th>ID</th>
          <th>Desc</th>
          <th>Value</th>
          <th>Units</th>
        </tr>
        <tr>
          <td>PT1</td>
          <td>Tank Pressure</td>
          <td>1200</td>
          <td>Psi</td>
        </tr>
        <tr>
          <td>PT1</td>
          <td>Tank Pressure</td>
          <td>1200</td>
          <td>Psi</td>
        </tr>
      </table>
    </div>

    <div class="box">
      <div class="box_header">
        <div class="box_title"> Squibs </div>
      </div>

      <table class="dashboard-table">
        <tr>
          <th>ID</th>
          <th>Desc</th>
          <th> Armed? </th>
          <th> Status </th>
        </tr>
        <tr>
          <td>EM1</td>
          <td>Engire Ignition</td>
          <td> <input type="checkbox"> </td>
          <td> <button type="button"> disarmed </button> </td>
          
        </tr>
        <tr>
          <td>EM2</td>
          <td> Fireworks </td>
          <td> <input type="checkbox"> </td>
          <td> <button type="button"> Ready </button> </td>
        </tr>
        <tr>
          <td>EM3</td>
          <td> Fireworks </td>
          <td> <input type="checkbox"> </td>
          <td> <button type="button"> fired </button> </td>
        </tr>
      </table>
    </div>

  </div>

</div>