<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/normalize.min.css">
    <link rel="stylesheet" href="static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="static/embedable.css">
</head>

<body>

    <script src="static/cookie.min.js"></script>
    <script src="static/socket.io.min.js"></script>
    <script src="static/lib.js"></script>
    <script language="javascript" type="text/javascript" src="static/jquery/jquery.js"></script>

  {{content}}


<script>
        False = false;
        True = true;
        slate = {{meta}};
</script>

</body>
</html>







