
    <link rel="stylesheet" href="static/graphs.css">

    <!-- <link rel="stylesheet" href="static/dashboard.css"> -->

	<script language="javascript" type="text/javascript" src="static/jquery/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.canvaswrapper.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.colorhelpers.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.saturated.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.browser.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.drawSeries.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.uiConstants.js"></script>
	<script type="text/javascript">


	$(function() {

		var right_data = [];
		var left_data = [];
        var totalPoints = 20;


		socket.on("deliver-data", (data) => {
			var right_graph_key = document.getElementById("right-graph-key").value;
			var left_graph_key = document.getElementById("left-graph-key").value;

			right_data = data[right_graph_key];
			left_data = data[left_graph_key];
      });

		var plot = $.plot("#placeholder", [[ [0,1] ]], {
			series: {
                shadowSize: 0
			},
			yaxis: {
                autoScale: 'loose',
				min: 0,
			},
			xaxis: {
                autoScale: 'loose',
				show: true,
			}
		});

		function replot() {

			var res = [];
			for (var i = 0; i < right_data.length; ++i) {
				res.push([i, right_data[i]])
			}

			var L_res = [];
			for (var i = 0; i < left_data.length; ++i) {
				L_res.push([i, left_data[i]])
			}
			//first line is to ensure zero is always shown on screen
			plot.resize();
			plot.setData([ {"data":  [[0,0]], "lines": {"lineWidth": 0}  },
						   {"data":  res, "color":"rgb(255, 0, 0)", "lines": {"lineWidth": 2}  },
						   {"data": L_res, "color":"rgb(0, 0, 255)", "lines": {"lineWidth": 2}  }   ])
            plot.setupGrid(true);
			plot.draw();
		}

        new_data_callbacks.push( () => {
			var right_graph_key = document.getElementById("right-graph-key").value;
			var left_graph_key = document.getElementById("left-graph-key").value;
			var graph_time = document.getElementById("graph-time");

			totalPoints = graph_time.value

			if( left_data.length < totalPoints || right_data.length < totalPoints ){
				socket.emit("get-data", {"ids": [right_graph_key, left_graph_key], "last_n": totalPoints})	
			}

            new_point = get_data("slate." + right_graph_key + ".value")
            right_data.push(new_point);

            left_new_data = get_data("slate." + left_graph_key + ".value")
            left_data.push(left_new_data);

            while (right_data.length > totalPoints){
                right_data.shift();
            }

            while (left_data.length > totalPoints){
                left_data.shift();
            }

			replot();

        })

	});

	</script>

<h2 class="page-title"> Graphs </h2>


<!-- <div class="box">
    <div class="box_header">
      <div class="box_title"> {{title}} </div>
    </div> -->

<div class="graph-page">

	<div>

		<span> History: </span>
		<select name="keys" id="graph-time" class="graph-dropdown">
			<option value="30">5s</option>
			<option value="150">15s</option>
			<option value="600">60s</option>
			<option value="3000">5m</option>
		</select>

		<span> Blue: </span>
		<select name="keys" id="left-graph-key" class="graph-dropdown">
			{% for item in list_ids %}
				<option value="{{item.id}}"> {{item.id}} - {{item.desc}} </option>
			{% endfor %}
		</select>

		<span> Red: </span>
		<select name="keys" id="right-graph-key" class="graph-dropdown">
			{% for item in list_ids %}
				<option value="{{item.id}}"> {{item.id}} - {{item.desc}} </option>
			{% endfor %}
		</select>

		</div>

	<div class="demo-container">
		<div id="placeholder" class="demo-placeholder"></div>
	</div>

	<script>

   var right = document.getElementById('right-graph-key');
   var left = document.getElementById('left-graph-key');
   var time = document.getElementById('graph-time');

   if (Cookies.get("right-graph-key")) {
       right.value = Cookies.get("right-graph-key")
   }

   if (Cookies.get("left-graph-key")) {
       left.value = Cookies.get("left-graph-key")
   }

   if (Cookies.get("graph-time")) {
       time.value = Cookies.get("graph-time")
   }

   update_graph = function () {
		Cookies.set("right-graph-key", right.value)
		Cookies.set("left-graph-key", left.value)
		Cookies.set("graph-time", time.value)

		totalPoints = time.value

		socket.emit("get-data", {"ids": [right.value, left.value], "last_n": totalPoints})	
    }

	left.onchange = update_graph;
	right.onchange = update_graph;
	time.onchange = update_graph;

	</script>

</div>