
    <link rel="stylesheet" href="static/graphs.css">

	<script language="javascript" type="text/javascript" src="static/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery.canvaswrapper.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery.colorhelpers.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery.flot.saturated.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery.flot.browser.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery.flot.drawSeries.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery.flot.uiConstants.js"></script>
	<script type="text/javascript">

	$(function() {

		var data = [];
        var totalPoints = 20;

		var plot = $.plot("#placeholder", [[ [0,1],[1,-1],[2,0] ]], {
			series: {
                shadowSize: 0	// Drawing is faster without shadows
			},
			yaxis: {
                autoScale: 'loose',
				min: 0,
			},
			xaxis: {
                autoScale: 'loose',
				show: true,
			}
		});

        new_data_callbacks.push( () => {

			var select = document.getElementById("graph-key");
			// console.log

            new_point = slate[select.value];
            data.push(new_point);

            while (data.length > totalPoints){
                data.shift();
            }

			var res = [];
			for (var i = 0; i < data.length; ++i) {
				res.push([i, data[i]])
			}
            console.log("here", res);

			plot.setData([res]);
            plot.setupGrid(true);
			plot.draw();

        })

	});

	</script>

<div class="graph-page">
	<select name="keys" id="graph-key" class="graph-dropdown">
		<option value="rand">random numbers</option>
		<option value="TC1">TC1 - something</option>
		<option value="TC0">TC0 - explain</option>
	</select>

	<div class="demo-container">
		<div id="placeholder" class="demo-placeholder"></div>
	</div>

	<script>

   var input = document.getElementById('graph-key');
   if (Cookies.get("graph-key")) {
       input.value = Cookies.get("graph-key")
   }
   input.onchange = function () {
		Cookies.set("graph-key", input.value)
    }

	</script>
</div>