
    <link rel="stylesheet" href="static/graphs.css">

    <!-- <link rel="stylesheet" href="static/dashboard.css"> -->

	<script language="javascript" type="text/javascript" src="static/jquery/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.canvaswrapper.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.colorhelpers.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.saturated.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.browser.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.drawSeries.js"></script>
	<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.uiConstants.js"></script>
	<script type="text/javascript">



	$(function() {

		var right_data = [];
		var left_data = [];
        var totalPoints = 20;

		var plot = $.plot("#placeholder", [[ [0,1] ]], {
			series: {
                shadowSize: 0	// Drawing is faster without shadows
			},
			yaxis: {
                autoScale: 'loose',
				min: 0,
			},
			xaxis: {
                autoScale: 'loose',
				show: true,
			}
		});

        new_data_callbacks.push( () => {
			var right_graph_key = document.getElementById("graph-key");
			var left_graph_key = document.getElementById("left-graph-key");
			var graph_time = document.getElementById("graph-time");

			totalPoints = graph_time.value

            new_point = get_data("slate." + right_graph_key.value + ".value")
            right_data.push(new_point);

            left_new_data = get_data("slate." + left_graph_key.value + ".value")
            left_data.push(left_new_data);

            while (right_data.length > totalPoints){
                right_data.shift();
            }

            while (left_data.length > totalPoints){
                left_data.shift();
            }

			var res = [];
			for (var i = 0; i < right_data.length; ++i) {
				res.push([i, right_data[i]])
			}

			var L_res = [];
			for (var i = 0; i < left_data.length; ++i) {
				L_res.push([i, left_data[i]])
			}

			plot.setData([ {"data":  res, "color":"rgb(255, 0, 0)", "lines": {"lineWidth": 2}  },
						   {"data": L_res, "color":"rgb(0, 0, 255)", "lines": {"lineWidth": 4}  }   ])
            plot.setupGrid(true);
			plot.draw();

        })

	});

	</script>

<h2 class="page-title"> Graphs </h2>


<!-- <div class="box">
    <div class="box_header">
      <div class="box_title"> {{title}} </div>
    </div> -->

<div class="graph-page">

	<div>

		<span> History: </span>
		<select name="keys" id="graph-time" class="graph-dropdown">
			<option value="30">5s</option>
			<option value="150">15s</option>
			<option value="600">60s</option>
			<option value="3000">5m</option>
		</select>

		<span> Left Axis: </span>
		<select name="keys" id="left-graph-key" class="graph-dropdown">
			{% for item in list_ids %}
				<option value="{{item.id}}"> {{item.id}} - {{item.desc}} </option>
			{% endfor %}
		</select>

		<span> Right Axis: </span>
		<select name="keys" id="graph-key" class="graph-dropdown">
			{% for item in list_ids %}
				<option value="{{item.id}}"> {{item.id}} - {{item.desc}} </option>
			{% endfor %}
		</select>

		</div>

	<div class="demo-container">
		<div id="placeholder" class="demo-placeholder"></div>
	</div>

	<script>

   var input = document.getElementById('graph-key');
   if (Cookies.get("graph-key")) {
       input.value = Cookies.get("graph-key")
   }
   input.onchange = function () {
		console.log(input.value)
		Cookies.set("graph-key", input.value)
    }

	</script>

</div>