<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/normalize.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <script src="static/socket.io.min.js"></script>
    <script> 
        var socket = io.connect({transports: ['websocket']});

        //elements can add themselves to list to update on new data
        new_data_callbacks = [ () => {console.log("got data", slate)}];
        slate = {};

        socket.on("new", (data) => {
            slate = data;
            for (func of new_data_callbacks) {
                func();
            }
        });

    </script>

    <div class="topbar">
        <a href="/dashboard" class="" topbar_elm">
            <img src="static/ssi_logo.png" alt="SSI Logo" style="height:30px;">
        </a>
        <p class="topbar_elm">Olympus Mission Control</p>
    </div>

    <div class="page-content">
        <div id="sidenav" class="sidenav">
            <a href="/dashboard">Dashboard</a>
            <a href="#">Sequencing</a>
            <a href="/graphs">Graphs</a>
            <a href="/maps">Maps</a>
            <a href="/messages">Messages</a>
            <a href="#">Configure</a>
        </div>

        {{page}}

    </div>
</body>
</html>