
<div class="main">
  <h1>My First Heading</h1>
  <p>My first paragraph.</p>


  <script>
    new_data_callbacks.push(
      () => {
      console.log(slate)
      var table = document.getElementById("message_table");
      var row = table.insertRow(0);
      var cell = row.insertCell(0);
      cell.innerHTML = JSON.stringify(slate);

    });

    new_data_callbacks.push(
      () => {
        var div = document.getElementById("raw_slate");
        div.innerHTML = JSON.stringify(slate, null, "\t");

    });

  </script>

    <pre>
      <code id="raw_slate" class="verbatim">
      </code>
    </pre>


  <table class='message_table' id='message_table'>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
    <tr>
      <td>Ernst Handel</td>
      <td>Roland Mendel</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Island Trading</td>
      <td>Helen Bennett</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>Laughing Bacchus Winecellars</td>
      <td>Yoshi Tannamuri</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Magazzini Alimentari Riuniti</td>
      <td>Giovanni Rovelli</td>
      <td>Italy</td>
    </tr>
  </table>
</div>