
<script language="javascript" type="text/javascript" src="static/jquery/jquery.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery/jquery.canvaswrapper.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery/jquery.colorhelpers.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.saturated.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.browser.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.drawSeries.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery/jquery.flot.uiConstants.js"></script>

<style>

    .demo-container {
        box-sizing: border-box;

        width: 90%;
        height: 450px;

        padding: 20px 15px 15px 15px;
        margin: 15px auto 30px auto;
        border: 1px solid #ddd;
        background: #fff;
        background: linear-gradient(#f6f6f6 0, #fff 50px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        user-select: none;
    }

    .demo-placeholder {
        width: 100%;
        height: 100%;
        font-size: 14px;
    }

</style>

	<script type="text/javascript">


	$(function() {

        data = {};

        {% for item in list_ids %}
                data["{{item.id}}"] = [];
        {% endfor %}

		var right_data = [];
		var left_data = [];
        var totalPoints = {{total_points}};

		socket.on("deliver-data", (inbound_data) => {

            {% for item in list_ids %}
                    data["{{item.id}}"] = inbound_data["{{item.id}}"];
            {% endfor %}
        });

		var plot = $.plot("#placeholder", [[ [0,1], 
            ]], {
			series: { shadowSize: 0 },
			yaxis: { autoScale: 'loose', min: 0, },
			xaxis: { autoScale: 'exact', show: true, }
		});

		function replot() {

			//first line is to ensure zero is always shown on screen
            to_set = [{"data":  [[0,0]], "lines": {"lineWidth": 0}  }];

            {% for item in list_ids %}
                    var res = [];
                    for (var i = 0; i < data["{{item.id}}"].length; ++i) {
                        res.push([i, data["{{item.id}}"][i]])
                    }

                    to_set.push( {"data":  res, "color":"{{item.color}}", "lines": {"lineWidth": 2}  } );

            {% endfor %}

			plot.resize();
            plot.setData(to_set);
            plot.setupGrid(true);
			plot.draw();
		}

        new_data_callbacks.push( () => {

            missing_data = [];
            {% for item in list_ids %}
                    new_data = get_data("{{item.id}}" + ".valu")
                    data["{{item.id}}"].push(new_data);

                    while (data["{{item.id}}"].length > totalPoints){
                        data["{{item.id}}"].shift();
                    }

                    if( data["{{item.id}}"].length < totalPoints){
                        missing_data.push("{{item.id}}");
                    }
            {% endfor %}

            if (missing_data.length > 0){
                socket.emit("get-data", {"ids": missing_data, "last_n": totalPoints})	
            }

			replot();

        })


	});

	</script>

<div class="box">
    <div class="box_header">
      <div class="box_title"> {{title}} </div>
    </div>

    <div style="text-align: center; margin: 10px">
        {% for item in list_ids %}
            <span style="color: {{item.color}}; margin: 10px;"> {{item.desc}}/{{item.unit}} </span>
        {% endfor %}
    </div>

	<div class="demo-container">
		<div id="placeholder" class="demo-placeholder"></div>
	</div>

</div>