
<link rel="stylesheet" href="static/radio.css">

<style>

    .dashboard-page {
        columns: 1000px;
    }
</style>

<div class="box">
    <div class="box_header">
        <div class="box_title"> Sequencing </div>
    </div>

    </tr>
    <table class="dashboard-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Desc</th>
            <th>State #</th>
            <th>State Name</th>
            <th>Next</th>
            <th>Abort</th>
        </tr>
        </thead>
        <tbody>
        {% for item in state_machines %}
                            <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.desc}}</td>

                            <td> <p id="{{item.id}}.num"> None </p> </td>

                            <td> 
                                <div class="radioswitch">
                                {% for state in item.unit %}
                                    <input type="radio" disabled name="{{item.id}}" id="{{item.id}}.{{state}}" >
                                    <label for="{{item.id}}.{{state}}">{{state}}</label>
                                {% endfor %}
                                </div>
                            </td>

                            <td> <button type="button" class="button"
                                onclick='send_command({ "{{item.id}}": ({{item.id}}.valu + 1) % {{item.len}}  })'> Next </button> </td>
                            <td> <button type="button" class="button red" onclick='send_command({ "{{item.id}}": 0  })'> Abort </button>

                            </td>
        {% endfor %}

        {% for item in writable_values %}

                            <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.desc}}</td>

                            <td> <p id="{{item.id}}.setpoint"> None </p> </td>

                            <td> <input type="number" id="{{item.id}}.new" step="100" value="0" > </td>

                            <td> <button type="button" class="button" 
                              onclick='send_command({"{{item.id}}": document.getElementById("{{item.id}}.new").value  })'> Update </button>

                            <td> {{item.unit}} </td>
                            </td>
        {% endfor %}



        </tbody>
    </table>

    <script>
        new_data_callbacks.push( () => { 

            {% for item in writable_values %}
                document.getElementById('{{item.id}}.setpoint').innerHTML = {{item.id}}.valu
            {% endfor %}

            {% for item in state_machines %}
                document.getElementById('{{item.id}}.num').innerHTML = {{item.id}}.valu

                state_name =  {{item.unit}}[ {{item.id}}.valu ] 
                document.getElementById("{{item.id}}." + state_name).checked = true;
            {% endfor %}

        });
    </script>
</div>
