<div class="box">
    <div class="box_header">
      <div class="box_title"> {{title}} </div>
    </div>
    <table class="dashboard-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>PIN</th>
          <th>Desc</th>
          <th>Value</th>
          <th>Unit</th>
          <th>Tare</th>
        </tr>
      </thead>
      <tbody>
		{% for item in list_ids %}
                            <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.qpin}}</td>
                            <td>{{item.desc}}</td>
                            <td> <p id="{{item.id}}"> None </p> </td>
                            <td>{{item.unit}}</td>
                            <!-- Ideally we'd send quail a message to tare to a value but this is janky quick fix -->
                            <td> <button type="button" class="button button_halfsize" onclick='send_command( {"{{item.id}}.ofs": -{{item.id}}.raw.valu } )'> Tare </button> 
                                  <button type="button" class="button button_halfsize red" onclick='send_command( {"{{item.id}}.ofs": 0 } )'> Clear </button> 
                            </td>
                            </tr>
		{% endfor %}

      </tbody>
    </table>

    <script>
    new_data_callbacks.push( () => { 
      {% for item in list_ids %}
              document.getElementById('{{item.id}}').innerHTML = ({{item.id}}.cal.valu * {{item.conv}}).toFixed(2)
      {% endfor %}
    });
    </script>
</div>