<div class="box">
    <div class="box_header">
      <div class="box_title"> {{title}} </div>
    </div>
    <table class="dashboard-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>PIN</th>
          <th>Desc</th>
          <th>Open</th>
          <th>Time</th>
          <th>Pulse</th>
        </tr>
      </thead>
      <tbody>
		{% for item in list_ids %}
                            <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.qpin}}</td>
                            <td>{{item.desc}}</td>
                            <td> <p id="{{item.id}}"> None </p> </td>
                            {# TODO save value for future#}
                            <td> <input type="number" id="{{item.id}}.pulse" step="10" value="100" style="width: 4em"> </td>
                            <td> <button type="button" class="button"
                                onclick="send_command({'{{item.id}}.pls':document.getElementById('{{item.id}}.pulse').value})"> Pulse </button> </td>
                            </tr>
		{% endfor %}

      </tbody>
    </table>

    <script>
    new_data_callbacks.push( () => { 
      {% for item in list_ids %}
              document.getElementById('{{item.id}}').innerHTML = {{item.id}}.pwm.valu
      {% endfor %}
    });
    </script>
</div>